<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
    <link rel="shortcut icon" href="/images/favicon.png" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Prompt" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/stylesheets/template/style.css" />
  </head>
  <body class="layout-detail">
    <section class="header">
      <div class="container">
        <div class="header-wrapper">
          <a href="/template"><img class="logo" src="/images/logo_v2.png" /></a>
        </div>
      </div>
    </section>
    <section class="content">
      <div class="container">
        <div class="content-wrapper detail-block"><div class="row"><div class="col-sm-8 col-sm-offset-2 text-center">
          <p><strong>Content Management System</strong></p>
          <hr />
          <div id="test-ingredient">
            <form id="form-ingredient" class="form-inline" action="/template/cms/ingredient/add" method="POST">
              <input type="hidden" id="txt-ingredient-id" name="ingredientid" value=null />
              <div class="form-group">
                  <input type="text" class="form-control" id="txt-ingredient-name" name="ingredientname" placeholder="Ingredient Name">
              </div>
              <button id="btn-ingredient" type="submit" class="btn btn-cf-1">Add</button>
            </form>
            <hr />
            <ul style="list-style:none;">
              <% for(var idx = 0; idx < resultIngredients.length; idx++){ %>
              <li class="text-left" style="display:inline-block;padding:10px;width:49%">
                <%= resultIngredients[idx].dataValues.name %>
                 | <a onClick="ingre_edit('<%= resultIngredients[idx].dataValues.id %>', '<%= resultIngredients[idx].dataValues.name %>')">Edit</a> | <a href="/template/cms/ingredient/<%= resultIngredients[idx].dataValues.id %>">Remove</a>
              </li>
              <% } %>
            </ul>
          </div>
        </div></div></div>
      </div>
    </section>
    <section class="footer">
      <div class="container">
        <p class="copyright text-center">
          Copyright (c) 2016 Copyright Holder All Rights Reserved.<br />
          Lilianti Wibiesono & Septhianto Diga
        </p>
      </div>
    </section>
    <section class="blank-layer hidden"></section>
  </body>
  <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="/javascripts/jquery.nanoscroller.min.js"></script>
  <script src="/javascripts/main.js"></script>
  <script>
  function ingre_edit(id, name){
    $("#form-ingredient").attr("action", "/template/cms/ingredient/edit")
    $("#txt-ingredient-id").val(id)
    $("#txt-ingredient-name").val(name)
    $("#btn-ingredient").text("Update")
  }
  </script>
</html>
